<div *ngIf="task">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{task.firstFormGroup.name}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <div class="flex">
        <p>категория: <b>{{task.firstFormGroup.category}}</b></p>
        <p>задание: <b>{{task.secondFormGroup.task}}</b></p>
        <p>норма часа: <b>{{task.secondFormGroup.norma}}</b></p>
      </div>
      <div class="flex">
        <p><b>Подпись работника:_______________</b></p>
        <p><b>Подпись мастера:_________________</b></p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-action-row>
    <button mat-raised-button color="warn" (click)="clear()">отмена</button>
    <button mat-raised-button color="accent" (click)="create()">сохранить и распечатать</button>
  </mat-action-row>
</div>
