mat-toolbar{
  position: fixed;
  bottom: 0;
  ul{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;

    li{
      width: 45%;
      border-radius: 20px;
      background-color: tomato;
      text-align: center;
      cursor: pointer;

      a.active{
        color: black;
      }

    }
  }
}
