<app-blank [task]="sentFormaValue"></app-blank>
<div class="flex" *ngIf="flag; else forma">
  <button mat-raised-button color="warn" (click)="clear()">Отменить</button>
  <button mat-raised-button color="warn" (click)="create()">Сохранить и распечатать</button>
</div>
<ng-template #forma>
  <form [formGroup]="form">
    <mat-stepper #stepper>
      <mat-step>
        <div class="flex">
          <ng-template matStepLabel>ФИО</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>ФИО</mat-label>
            <input matInput placeholder="ФИО" formControlName="name" required>
            <mat-error *ngIf="form.get('name')?.errors?.['required']"><b>*Обязательное</b> для заполнения
              поле
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Разряд</mat-label>
            <mat-select formControlName="category">
              <mat-option value="Первый разряд">Первый разряд</mat-option>
              <mat-option value="Второй разряд">Второй разряд</mat-option>
              <mat-option value="Третий разряд">Третий разряд</mat-option>
              <mat-option value="Четвертый разряд">Четвертый разряд</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('category')?.errors?.['required']">
              <b>*Обязательное</b> для заполнения поле
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Далее</button>
          </div>
        </div>
      </mat-step>
      <mat-step label="Задание">
        <div class="flex">
          <mat-form-field appearance="outline">
            <mat-label>Задание</mat-label>
            <input matInput formControlName="task" placeholder="Задание" required>
            <mat-error *ngIf="form.get('task')?.errors?.['required']">
              <b>*Обязательное</b> для заполнения поле
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>норма часа</mat-label>
            <input matInput formControlName="norma" placeholder="норма часа" required>
            <mat-error *ngIf="form.get('norma')?.errors?.['required']">
              <b>*Обязательное</b> для заполнения поле
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button matStepperNext>Далее</button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Сохранение</ng-template>
        <div class="finish">
          <p *ngIf="form.valid; else  err">Для создания нового наряда нажми кнопку "Создать"</p>
          <ng-template #err>
            <mat-error>Заполни все поля формы</mat-error>
          </ng-template>
          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button (click)="submit(); stepper.reset()" [disabled]="form.invalid">Создать
            </button>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</ng-template>
