@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
  background: -webkit-linear-gradient(90deg,#8fb0ff,#709bff,#6190ff);
  //background: linear-gradient(90deg,#8fb0ff,#709bff,#6190ff);
}
